<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
    </configSections>
    <!-- attribute names are cases sensitive -->
    <exceptionless apiKey="LhhP1C9gijpSKCslHHCvwdSIz298twx271n1l6xw" ServerUrl="http://localhost:50000" />
</configuration>