<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="f1" xsi:type="File" fileName="file1.txt" />
        <target name="f2" xsi:type="File" fileName="file2.txt" />
        <target name="ds" xsi:type="Console" />
    </targets>
    <rules>
        <logger name="*" minlevel="Warn" writeTo="ds" />
        <logger name="*" minlevel="Warn" writeTo="f1" />
        <logger name="*" minlevel="Warn" writeTo="f2" />
    </rules>
</nlog>